.post {
    margin-top: 1vh;
    background-color: var(--main-bg-color);
}

#titulo {
    color: var(--secondary-font-color);
}

#texto {
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
}

#texto > * {
    max-width: 100%;
}

.div-imagens{
    display: flex;
    justify-content: center; 
    max-width: 100%;
}

.grid-imagens{
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 30%));
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.imagem-unica{
    max-width: 100%;
}

.imagem-dupla{
    margin: .25vw;
    max-width: 50%;
}

.imagem-grid{
    max-width: 100%;
    border: .25rem solid var(--tertiary-font-color);
}

.audio-blost{
    width: 75%;
    margin-left: 12.5%;
    border-radius: 20px;
    box-shadow: black 0px 0px 5px 1px;
}

.video-blost{
    max-width: 100%;
    border-radius: 25px;
    box-shadow: black 0px 0px 5px 1px;
}

/* Ex: To calculate the aspect ratio for 16:9 ( (9/ 16) *100 = 56.25) */
.caixa2-3 {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 66.6%;
}

.iframe-element {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

a {
    color: var(--tertiary-font-color);
}

.details-blost {
    border-radius: 25px;
    padding: 1vw;
    background-color: var(--main-bg-color);
    color: var(--secondary-font-color);
}

.details-blost summary {
  cursor: url(/fontes/cursores/cursor2.png), pointer;
  list-style: none;
}